In [1]:
nfl_teams = [
    'Cardinals', 'Falcons', 'Ravens', 'Bills', 'Panthers', 'Bears', 'Bengals',
    'Browns', 'Cowboys', 'Broncos', 'Lions', 'Packers', 'Texans', 'Colts', 'Jaguars',
    'Chiefs', 'Chargers', 'Rams', 'Dolphins', 'Vikings', 'Patriots', 'Saints', 'Giants',
    'Jets', 'Raiders', 'Eagles', 'Steelers', '49ers', 'Seahawks', 'Buccaneers', 'Titans','Commanders'
]

In [2]:
import pandas as pd
from pathlib import Path

In [3]:
len(nfl_teams)

32

In [4]:
# import CSV files into one master dataframe, and delete rows with null scores

In [5]:
spreads_file = Path("../database-files/cleaned_spreads.csv")
overunder_file = Path("../database-files/cleaned_overunder.csv")
moneyline_file = Path("../database-files/cleaned_moneylines.csv")
seasonstats_file = Path("../database-files/cleaned_seasonstats.csv")

In [6]:
spreads_df = pd.read_csv(spreads_file)
spreads_df

     away_team   home_team         spread
0        Lions      Chiefs    Chiefs -6.5
1      Jaguars       Colts   Jaguars -4.5
2    Cardinals  Commanders  Commanders -7
3       Texans      Ravens     Ravens -10
4        49ers    Steelers     49ers -2.5
..         ...         ...            ...
240     Titans      Texans    Texans -4.5
241   Steelers    Seahawks  Seahawks -3.5
242    Bengals      Chiefs    Chiefs -7.5
243   Chargers     Broncos   Broncos -6.5
244    Packers     Vikings     Vikings -2

[245 rows x 3 columns]

In [7]:
overunder_df = pd.read_csv(overunder_file)
overunder_df

     away_team   home_team         overunder
0        Lions      Chiefs    54 (-110/-110)
1    Cardinals  Commanders  38.5 (-110/-110)
2     Panthers     Falcons    40 (-110/-110)
3      Bengals      Browns  47.5 (-110/-110)
4       Texans      Ravens    44 (-110/-110)
..         ...         ...               ...
240     Titans      Texans    43 (-110/-110)
241   Steelers    Seahawks    41 (-110/-110)
242   Chargers     Broncos    38 (-110/-110)
243    Bengals      Chiefs  45.5 (-110/-110)
244    Packers     Vikings  43.5 (-110/-110)

[245 rows x 3 columns]

In [8]:
moneyline_df = pd.read_csv(moneyline_file)
moneyline_df

    away_team   home_team        moneyline
0       Lions      Chiefs      Chiefs -275
1    Panthers     Falcons     Falcons -175
2      Texans      Ravens      Ravens -500
3     Bengals      Browns     Bengals -125
4     Jaguars       Colts     Jaguars -200
..        ...         ...              ...
240    Saints  Buccaneers  Buccaneers -134
241  Steelers    Seahawks    Seahawks -200
242   Bengals      Chiefs      Chiefs -290
243  Chargers     Broncos     Broncos -280
244   Packers     Vikings     Vikings -120

[245 rows x 3 columns]

In [9]:
seasonstats_df = pd.read_csv(seasonstats_file)
seasonstats_df

      home_team  away_team  points_home  points_away   id
0        Browns    Bengals         24.0          3.0    1
1    Commanders  Cardinals         20.0         16.0    3
2        Ravens     Texans         25.0          9.0    4
3        Saints     Titans         16.0         15.0    6
4          Jets      Bills         22.0         16.0   14
..          ...        ...          ...          ...  ...
267    Chargers     Chiefs          NaN          NaN  268
268      Giants     Eagles          NaN          NaN  269
269       49ers       Rams          NaN          NaN  270
270   Cardinals   Seahawks          NaN          NaN  271
271    Dolphins      Bills          NaN          NaN  272

[272 rows x 5 columns]

In [10]:
master_df_part1 = seasonstats_df.merge(moneyline_df, on=["away_team","home_team"])
master_df_part1

      home_team  away_team  points_home  points_away   id        moneyline
0        Browns    Bengals         24.0          3.0    1     Bengals -125
1    Commanders  Cardinals         20.0         16.0    3  Commanders -300
2        Ravens     Texans         25.0          9.0    4      Ravens -500
3        Saints     Titans         16.0         15.0    6      Saints -185
4          Jets      Bills         22.0         16.0   14       Bills -130
..          ...        ...          ...          ...  ...              ...
239  Buccaneers     Saints         13.0         23.0  250  Buccaneers -134
240      Giants       Rams         25.0         26.0  251      Giants +215
241  Commanders      49ers         10.0         27.0  252  Commanders +610
242    Seahawks   Steelers         23.0         30.0  253    Seahawks -200
243     Vikings    Packers         10.0         33.0  256     Vikings -120

[244 rows x 6 columns]

In [11]:
master_df_part2 = overunder_df.merge(spreads_df, on =["away_team", "home_team"])
master_df_part2

     away_team   home_team         overunder         spread
0        Lions      Chiefs    54 (-110/-110)    Chiefs -6.5
1    Cardinals  Commanders  38.5 (-110/-110)  Commanders -7
2     Panthers     Falcons    40 (-110/-110)   Falcons -3.5
3      Bengals      Browns  47.5 (-110/-110)     Bengals -2
4       Texans      Ravens    44 (-110/-110)     Ravens -10
..         ...         ...               ...            ...
240     Titans      Texans    43 (-110/-110)    Texans -4.5
241   Steelers    Seahawks    41 (-110/-110)  Seahawks -3.5
242   Chargers     Broncos    38 (-110/-110)   Broncos -6.5
243    Bengals      Chiefs  45.5 (-110/-110)    Chiefs -7.5
244    Packers     Vikings  43.5 (-110/-110)     Vikings -2

[245 rows x 4 columns]

In [12]:
master_df = master_df_part1.merge(master_df_part2, on = ["away_team", "home_team"])
master_df

,home_team,away_team,points_home,points_away,id,moneyline,overunder,spread
0,Browns,Bengals,24.0,3.0,1,Bengals -125,47.5 (-110/-110),Bengals -2
1,Commanders,Cardinals,20.0,16.0,3,Commanders -300,38.5 (-110/-110),Commanders -7
2,Ravens,Texans,25.0,9.0,4,Ravens -500,44 (-110/-110),Ravens -10
3,Saints,Titans,16.0,15.0,6,Saints -185,41 (-110/-110),Saints -3.5
4,Jets,Bills,22.0,16.0,14,Bills -130,46.5 (-110/-110),Bills -2.5
...,...,...,...,...,...,...,...,...
239,Buccaneers,Saints,13.0,23.0,250,Buccaneers -134,41.5 (-110/-110),Buccaneers -2
240,Giants,Rams,25.0,26.0,251,Giants +215,41 (-110/-110),Giants +6
241,Commanders,49ers,10.0,27.0,252,Commanders +610,48 (-110/-110),Commanders +13.5
242,Seahawks,Steelers,23.0,30.0,253,Seahawks -200,41 (-110/-110),Seahawks -3.5
243,Vikings,Packers,10.0,33.0,256,Vikings -120,43.5 (-110/-110),Vikings -2

In [13]:
master_df = master_df.drop(columns = 'id')
master_df

,home_team,away_team,points_home,points_away,moneyline,overunder,spread
0,Browns,Bengals,24.0,3.0,Bengals -125,47.5 (-110/-110),Bengals -2
1,Commanders,Cardinals,20.0,16.0,Commanders -300,38.5 (-110/-110),Commanders -7
2,Ravens,Texans,25.0,9.0,Ravens -500,44 (-110/-110),Ravens -10
3,Saints,Titans,16.0,15.0,Saints -185,41 (-110/-110),Saints -3.5
4,Jets,Bills,22.0,16.0,Bills -130,46.5 (-110/-110),Bills -2.5
...,...,...,...,...,...,...,...
239,Buccaneers,Saints,13.0,23.0,Buccaneers -134,41.5 (-110/-110),Buccaneers -2
240,Giants,Rams,25.0,26.0,Giants +215,41 (-110/-110),Giants +6
241,Commanders,49ers,10.0,27.0,Commanders +610,48 (-110/-110),Commanders +13.5
242,Seahawks,Steelers,23.0,30.0,Seahawks -200,41 (-110/-110),Seahawks -3.5
243,Vikings,Packers,10.0,33.0,Vikings -120,43.5 (-110/-110),Vikings -2

In [14]:
cleaned_overunders=master_df["overunder"].str.split("(").str[0].astype(float)
cleaned_overunders

0      47.5
1      38.5
2      44.0
3      41.0
4      46.5
       ...
239    41.5
240    41.0
241    48.0
242    41.0
243    43.5
Name: overunder, Length: 244, dtype: float64

In [15]:
master_df["overunder"]=cleaned_overunders
master_df

,home_team,away_team,points_home,points_away,moneyline,overunder,spread
0,Browns,Bengals,24.0,3.0,Bengals -125,47.5,Bengals -2
1,Commanders,Cardinals,20.0,16.0,Commanders -300,38.5,Commanders -7
2,Ravens,Texans,25.0,9.0,Ravens -500,44.0,Ravens -10
3,Saints,Titans,16.0,15.0,Saints -185,41.0,Saints -3.5
4,Jets,Bills,22.0,16.0,Bills -130,46.5,Bills -2.5
...,...,...,...,...,...,...,...
239,Buccaneers,Saints,13.0,23.0,Buccaneers -134,41.5,Buccaneers -2
240,Giants,Rams,25.0,26.0,Giants +215,41.0,Giants +6
241,Commanders,49ers,10.0,27.0,Commanders +610,48.0,Commanders +13.5
242,Seahawks,Steelers,23.0,30.0,Seahawks -200,41.0,Seahawks -3.5
243,Vikings,Packers,10.0,33.0,Vikings -120,43.5,Vikings -2

In [16]:
#Create code to show the overs that hit for each team, and the unders that hit for each team

In [17]:
#Initially start the counter at 0 for each team
overs = {}
for team in nfl_teams:    
    overs[team]=0
unders = {}
for team in nfl_teams:    
    unders[team]=0

In [18]:
#iterate through the rows. If the combined point total is greater than the overunder, add 1 to both the home and away team's counter.
#otherwise, if that number is less than the overunder, add 1 to the home and away team's counter for the unders dictionary.
#some results will be pushes (point total exactly equals overunder), and we shouldn't include these.
for index, row in master_df.iterrows():
    if (row.points_home + row.points_away) > row.overunder:
        overs[row.away_team] += 1
        overs[row.home_team] += 1
    elif (row.points_home + row.points_away) < row.overunder:
        unders[row.away_team] += 1
        unders[row.home_team] += 1

In [19]:
#Convert these dictionaries into dataframes so we can visualize them

In [20]:
overs_df = pd.DataFrame(list(overs.items()), columns = ["Team", "Overs hit"])
overs_df

          Team  Overs hit
0    Cardinals          9
1      Falcons          6
2       Ravens          7
3        Bills          6
4     Panthers          6
5        Bears          5
6      Bengals          9
7       Browns          9
8      Cowboys          7
9      Broncos          7
10       Lions          8
11     Packers          8
12      Texans          5
13       Colts         10
14     Jaguars          6
15      Chiefs          4
16    Chargers          5
17        Rams          8
18    Dolphins          8
19     Vikings          6
20    Patriots          5
21      Saints          5
22      Giants          6
23        Jets          4
24     Raiders          2
25      Eagles          8
26    Steelers          5
27       49ers          7
28    Seahawks          6
29  Buccaneers          5
30      Titans          5
31  Commanders          7

In [27]:
unders_df = pd.DataFrame(list(unders.items()), columns = ["Team", "Unders hit"])
unders_df

          Team  Unders hit
0    Cardinals           7
1      Falcons          10
2       Ravens           9
3        Bills           9
4     Panthers           9
5        Bears           7
6      Bengals           7
7       Browns           7
8      Cowboys           8
9      Broncos           9
10       Lions           7
11     Packers           7
12      Texans          10
13       Colts           6
14     Jaguars           9
15      Chiefs          12
16    Chargers          10
17        Rams           8
18    Dolphins           7
19     Vikings          10
20    Patriots           9
21      Saints          10
22      Giants           9
23        Jets          11
24     Raiders          13
25      Eagles           7
26    Steelers           9
27       49ers           7
28    Seahawks           9
29  Buccaneers           9
30      Titans          10
31  Commanders           7

In [20]:
#create code to show the spreads that were successfully covered for each team

In [21]:
covers = {}

In [22]:
#create code to show the spreads that were not successfully covered for each team

In [23]:
non_covers = {}

In [24]:
#create code to show the overall win/loss record for each team

In [25]:
moneylines = {}